@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Engineering 24</h1>
    <p class="lead">Engineering 24, the group of the most intellectual C# developers in the Sparta Academy, lead by the one and only Phil Anderson (007)</p>
</div>